/.venv
/build
/release/
/buildDir
/debug


**/.cache
*.sublime-workspace
.clang-format

/subprojects/*
!/subprojects/*.wrap
!/subprojects/patches/
!/subprojects/patches/**

!/subprojects/packagefiles/
!/subprojects/packagefiles/**

vgcore.*
*.test
**.spv
imgui.ini
.idea

*.csv
*.pdf
*.sh

dump

preprocessed.comp
